<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="lfield">
    <%= f.label :Event_Name %><br>
    <%= f.text_field :event_name %><br>
    <%= f.label :Description %><br>
    <%= f.text_field :description %><br>
    <%= f.label :address %><br>
    <%= f.text_field :address %><br>
    <%= f.label :City %><br>
    <%= f.text_field :city %><br>
    <%= f.label :State %><br>
    <%= f.text_field :state %><br>
    <%= f.label :Zipcode %><br>
    <%= f.text_field :zipcode %><br>
    <%= f.label :Country %><br>
    <%= f.text_field :country %><br>
    <%= f.label :Email %><br>
    <%= f.text_field :email %><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
